# Ignore node_modules in both frontend and backend
project-api/node_modules/
project-ui/node_modules/

# Ignore other common dependencies
**/node_modules
**/dist
**/build

# Ignore logs and environment files
*.log
.env